$grey-background-20-transparent: #323232cc;
$red: #F65261;
$grey-background-30-transparent: #606060ad;
$black: #232323;
$white: #FFFFFF;
$grey: #424242;
$light-grey: #555555;
$grey-border-50-transparent: #97979780;
$white-50-transparent: #ffffff80;
